<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextFieldFormat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BBA350F1E77BEBB008BDDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBA35281E77BEBC008BDDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBA35331E77BEBC008BDDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
